<mat-toolbar style="margin-top: -1%;"color="primary">
    <mat-toolbar-row>
      <a [routerLink]="['/']">
        <h1 style="color: white;">Big Chemical Inc</h1>
      </a>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/employee'"> Employees </a>
        <a mat-button [routerLink]="'/drug'"> Activations</a>
        <a mat-button [routerLink]="'/sensors'"> Sensors </a>
        <a mat-button [routerLink]="'/repairs'"> Repairs </a>
        <a mat-button [routerLink]="'/access'"> Tracking </a>
        <a mat-button [routerLink]="'/access-rights'"> Access Rights </a>
      </div>
      <span class="menu-spacer"></span>
      <button mat-raised-button color="warn" (click)="goToLoginPage()">Log Out</button>


    </mat-toolbar-row>
</mat-toolbar>
